<h1 class="text-center">Wellcome to Administration</h1>
<div>
  <ul>
    <li class="bold">
      Categories
      <div class="mt-2 mb-2">
        <button [routerLink]="['/admin/category/all']" class="btn btn-secondary mr-2">All Categories</button>
        <button [routerLink]="['/admin/category/create']" class="btn btn-primary mr-2">Create category</button>
      </div>
    </li>
    <li class="bold">
      Ingredients
      <div class="mt-2 mb-2">
        <button class="btn btn-secondary mr-2">All Ingredients</button>
        <button class="btn btn-primary mr-2">Create ingredient</button>
      </div>
    </li>
    <li class="bold">
      Comments
      <div class="mt-2 mb-2">
        <button class="btn btn-danger mr-2">Delete comment</button>
      </div>
    </li>
  </ul>
</div>
