<h1 class="text-center">Wellcome to Administration</h1>
<div>
  <ul>
    <li class="bold">
      Categories
      <div class="mt-2 mb-2">
        <button class="btn btn-primary mr-2">Create category</button>
        <button class="btn btn-warning mr-2">Update category</button>
        <button class="btn btn-danger mr-2">Delete category</button>
      </div>
    </li>
    <li class="bold">
      Ingredients
      <div class="mt-2 mb-2">
        <button class="btn btn-primary mr-2">Create ingredient</button>
        <button class="btn btn-warning mr-2">Update ingredient</button>
        <button class="btn btn-danger mr-2">Delete ingredient</button>
      </div>
    </li>
    <li class="bold">
      Recipes
      <div class="mt-2 mb-2">
        <button class="btn btn-primary mr-2">Create recipe</button>
        <button class="btn btn-warning mr-2">Update recipe</button>
        <button class="btn btn-danger mr-2">Delete recipe</button>
      </div>
    </li>
    <li class="bold">
      Comments
      <div class="mt-2 mb-2">
        <button class="btn btn-danger mr-2">Delete comment</button>
      </div>
    </li>
  </ul>
</div>
