button {
  margin-bottom: 10px;
}

  button:hover {
    background-color: #78C2AD;
    color: black;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

.custom-danger:hover {
  background-color: red;
  color: white;
}

.search-form {
  background-color: lightgrey;
  border: 0.2rem solid lightgrey;
  padding-top: 10px;
  text-align: center;
}
