<div class="card mb-2">
  <h3 class="card-header title">{{recipe.title}}</h3>
  <img src="{{recipe.picture}}" alt="recipe-pic">
  <div class="card-body">
    <p class="card-text">{{recipe.content | slice:0:70}}...</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fas fa-book"></i> Category: <a [routerLink]="['/recipe/currentCategory', recipe.categoryId]" class="hover-effect">{{recipe.categoryName}}</a></li>
    <li class="list-group-item"><i class="fas fa-heart"></i> Likes: {{recipe.recipeLikesCount}}</li>
    <li class="list-group-item"><i class="fas fa-comments"></i> Comments: {{recipe.commentsCount}}</li>
  </ul>
  <div class="card-body">
    <button class="btn btn-secondary" [routerLink]="['/recipe/details', recipe.id]">See the recipe</button>
  </div>
</div>
