<div class="wrapper">
  <div class="container">
    <div class="row space-top">
      <div class="col-md-12">
        <h1 class="custom-font">Create New Recipe</h1>
        <hr />
      </div>
    </div>
    <form [formGroup]="createForm" (submit)="create()">
      <div class="row space-top">
        <div class="col-lg-8">
          <div class="form-group">
            <label class="form-control-label" for="title">Title</label>
            <input class="form-control" id="title" type="text" formControlName="title">
          </div>
          <div class="alert alert-danger" *ngIf="f.title?.errors?.required && f.title?.touched">The field is required</div>
          <div class="alert alert-danger" *ngIf="f.title?.errors?.minlength">The title should be at least {{f.title.errors.minlength.requiredLength}} symbols</div>
          <div class="alert alert-danger" *ngIf="f.title?.errors?.maxlength">The title should be lest than {{f.title.errors.maxlength.requiredLength}} symbols</div>
          <div class="form-group">
            <label class="form-control-label" for="content">Content</label>
            <textarea class="form-control" id="content" type="text" cols="10" rows="7" formControlName="content"></textarea>
          </div>
          <div class="alert alert-danger" *ngIf="f.content?.errors?.required && f.content?.touched">The field is required</div>
          <div class="alert alert-danger" *ngIf="f.content?.errors?.minlength">The content should be at least {{f.content.errors.minlength.requiredLength}} symbols</div>
          <div class="alert alert-danger" *ngIf="f.content?.errors?.maxlength">The content should be lest than {{f.content.errors.maxlength.requiredLength}} symbols</div>
          <div class="form-group">
            <label class="form-control-label" for="portions">Portions</label>
            <input class="form-control" id="portions" type="number" formControlName="portions">
          </div>
          <div class="alert alert-danger" *ngIf="f.portions?.errors?.required && f.portions?.touched">The field is required</div>
          <div class="alert alert-danger" *ngIf="f.portions?.errors?.min">The portions should be at least {{f.portions.errors.min.min}}</div>
          <div class="form-group">
            <label class="form-control-label" for="preparationTime">Preparation Time in minutes</label>
            <input class="form-control" id="preparationTime" type="number" formControlName="preparationTime">
          </div>
          <div class="alert alert-danger" *ngIf="f.preparationTime?.errors?.required && f.preparationTime?.touched">The field is required</div>
          <div class="alert alert-danger" *ngIf="f.preparationTime?.errors?.min">The preparation time should be at least {{f.preparationTime.errors.min.min}} minute</div>
          <div class="form-group">
            <label class="form-control-label" for="cookingTime">Cooking time in minutes</label>
            <input class="form-control" id="cookingTime" type="number" formControlName="cookingTime">
          </div>
          <div class="alert alert-danger" *ngIf="f.cookingTime?.errors?.required && f.cookingTime?.touched">The field is required</div>
          <div class="alert alert-danger" *ngIf="f.cookingTime?.errors?.min">The cooking time should be at least {{f.cookingTime.errors.min.min}} minute</div>
          <div class="form-group">
            <label class="form-control-label" for="categoryName">Category</label>
            <select class="form-control" id="categoryName" formControlName="categoryName">
              <option disabled selected="selected">Please select one of the options below</option>
              <option value="{{category.name}}" *ngFor="let category of categories$ | async">{{category.name}}</option>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="f.categoryName?.errors?.required && f.categoryName?.touched">The field is required</div>
          <div class="form-group">
            <label class="form-control-label" for="picture">Picture url</label>
            <input class="form-control" id="picture" type="url" formControlName="picture">
          </div>
          <div class="alert alert-danger" *ngIf="f.picture?.errors?.required && f.picture?.touched">The field is required</div>
          <hr />
          <div formArrayName="ingredients">
            <label class="form-control-label bold">Ingredients: </label>
            <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i">
              <label class="form-control-label color">Ingredient: </label>
              <div class="form-group">
                <label class="form-control-label" for="name">Name</label>
                <input class="form-control" id="name" type="text" formControlName="name">
              </div>
              <div class="alert alert-danger" *ngIf="f.ingredients?.controls[i].controls.name?.errors?.required && f.ingredients?.controls[i].controls.name?.touched">The field is required</div>
              <div class="alert alert-danger" *ngIf="f.ingredients?.controls[i].controls.name?.errors?.minlength">Ingredient name should be at least {{f.ingredients.controls[i].controls.name.errors.minlength.requiredLength}} characters</div>
              <div class="alert alert-danger" *ngIf="f.ingredients?.controls[i].controls.name?.errors?.maxlength">Ingredient name should be maximal {{f.ingredients.controls[i].controls.name.errors.maxlength.requiredLength}} characters</div>
              <div class="form-group">
                <label class="form-control-label" for="quantity">Quantity</label>
                <input class="form-control" id="quantity" type="text" formControlName="quantity">
              </div>
              <div class="alert alert-danger" *ngIf="f.ingredients?.controls[i].controls.quantity?.errors?.required && f.ingredients?.controls[i].controls.quantity?.touched">The field is required</div>
              <div class="alert alert-danger" *ngIf="f.ingredients?.controls[i].controls.quantity?.errors?.minlength">Ingredient quantity should be at least {{f.ingredients.controls[i].controls.quantity.errors.minlength.requiredLength}} characters</div>
              <div class="alert alert-danger" *ngIf="f.ingredients?.controls[i].controls.quantity?.errors?.maxlength">Ingredient quantity should be maximal {{f.ingredients.controls[i].controls.quantity.errors.maxlength.requiredLength}} characters</div>
            </div>
          </div>
          <button class="btn btn-primary custom" (click)="addIngredient()">Add ingredient</button>
          <hr />
          <button type="submit" class="btn btn-secondary" [disabled]="createForm.invalid">Create</button>
        </div>
      </div>
    </form>
  </div>

</div>
