button {
  margin-bottom: 10px;
}

  button:hover {
    background-color: #78C2AD;
    color: black;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

.register-wrapper {
  background-color: lavender;
  width: 1200px !important;
  height: 800px;
  margin: auto;
}

.container {
  background-color: lightgray;
  padding: 10px;
}

.custom-font {
  font-family: 'Akaya Telivigala', cursive;
  padding: 10px;
}

.fill {
  background-color: lavender;
}
