button {
  margin-bottom: 10px;
}

  button:hover {
    background-color: #78C2AD;
    color: black;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

.color {
  color: #78C2AD;
}
