.wrapper {
  background-color: lavender;
  width: 1200px !important;
  margin: auto;
}

.custom-font {
  font-family: 'Akaya Telivigala', cursive;
  padding: 10px;
}

button {
  margin-bottom: 10px;
}

  button:hover {
    background-color: #78C2AD;
    color: black;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

.custom {
  background-color: lightblue;
  border-color: lightblue;
  color: black;
}

.color {
  color: #78C2AD;
}
