.wrapper {
  background-color: lavender;
  width: 1200px !important;
  margin: auto;
}

.custom-font {
  font-family: 'Akaya Telivigala', cursive;
  margin-bottom: 0px;
}

.custom-position {
  text-align: center;
}

.fill {
  background-color: lavender;
}

.hr-fill {
  border-top-color: lavender;
}

.create-recipe-btn {
  border-color: #78c2ad;
}

  .create-recipe-btn:hover {
    border-color: #0069d9;
  }
