<div class="create-comment-wrapper">
  <h2 class="custom-font">Comments</h2>
  <div class="post post-content">
    <h5 class="second-title">Leave comment</h5>
    <form [formGroup]="createForm" (submit)="create()" id="commentForm">
      <textarea type="text" formControlName="content" placeholder="Write you comment..."></textarea>
      <div class="alert alert-danger" *ngIf="f.content?.errors?.required && f.content?.touched">The field is required</div>
      <div class="alert alert-danger" *ngIf="f.content?.errors?.minlength">Content should be at least {{f.content.errors.minlength.requiredLength}} characters</div>
      <div class="alert alert-danger" *ngIf="f.content?.errors?.maxlength">Content should be maximal {{f.content.errors.maxlength.requiredLength}} characters</div>
      <button [disabled]="createForm.invalid" id="btnPostComment" type="submit" class="btn btn-secondary mt-2">Add Comment</button>
    </form>
  </div>
</div>


