img {
  width: 100%;
  height: 300px;
  border: 0.1rem hidden;
  padding: 10px;
  background-color: white;
}

button {
  margin-bottom: 10px;
}

  button:hover {
    background-color: #78C2AD;
    color: black;
    cursor: pointer;
  }

.bold {
  font-weight: bold;
}

.title {
  background-color: #78C2AD;
  color: white;
}

.button-position {
  align-self: center;
}
