<div class="wrapper">
  <div class="container">
    <h1 class="text-center custom-font">Ingredients</h1>
    <hr />
    <table class="table table-bordered table-hover custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let ingredient of ingredients$ | async">
        <tr app-single-recipe-ingredient [ingredient]="ingredient" (reloadEventEmitter)="reload()"></tr>
      </tbody>
    </table>
  </div>
  <div class="fill pt-1 pb-1"></div>
</div>
